.livecardwindow-c li{
     width:18%;
     height:163px;
     float: left;
     margin:0px 1%;
    cursor: pointer;
}
.livecardwindow-c li:hover{
    box-shadow: 0 4px 8px 0 rgba(7,17,27,.1);
    opacity: 0.9;
}
.livecardwindow-c{
    padding:10px 0px;
    margin-bottom: 50px;
}
.livecardwindow-c:after{
    content: '';
    height: 0;
    visibility: hidden;
    display: block;
    clear: both;
}
.livecardwindow-c li img{
    width:100%;
}
.livecard-foot:after{
    content: '';
    height: 0;
    visibility: hidden;
    display: block;
    clear: both;
}
.livecard-foot{
    width:100%;
    padding:5px 10px;
    font-size: 20px;
    background-color: #f0f2f5;
}
.livecard-foot .hert-c{
    float: left;
    color:red;
}
.livecard-foot .share-c{
    float: right;
    color: #07111B;
}
.carudetail:after{
    content: '';
    height: 0;
    visibility: hidden;
    display: block;
    clear: both;
}
.carudetail{
    padding: 5px 2px;
}
.carudetail .pay-circle-o{
    float: right;
}
.carudetail .user-c{
    float: left;
}
.play-c{
    width: 50px;
    height: 50px;
    font-size: 30px;
    position: absolute;
    margin-top: 37px;
    margin-left: 100px;

}